@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

.bg-blacking {
  background: rgba(255, 255, 255, 0.486);
  backdrop-filter: blur(3px);
}

.about-section {
  background-image: url("./Components/Images/webdevelopment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sectionA {
  background-image: url("./Components/Images/IT.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sectionB {
  background-image: url("./Components/Images/Appdevelopment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Member1 {
  background-image: url("./Components/Images/tracy.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Member2 {
  background-image: url("./Components/Images/member4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Member3 {
  background-image: url("./Components/Images/member3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
