@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

.bg-blacking {
  background: rgba(255, 255, 255, 0.486);
  backdrop-filter: blur(3px);
}

.about-section {
  background-image: url("./Components/Images/ourteam.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sectionA {
  background-image: url("./Components//Images/progmers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sectionB {
  background-image: url("./Components/Images/develop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Member1 {
  background-image: url("./Components/Images/tracy.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Member2 {
  background-image: url("./Components/Images/member4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Member3 {
  background-image: url("./Components/Images/member3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after,
.underline-animation:focus::after,
.underline-animation:active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}