@media only screen and (max-width: 468px) {
  .onrespo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

.gridGeneral {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 5px;
}
