@media only screen and (max-width: 468px) {

  .onrespo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;


    .smaller{
      padding: 10px;
      width: 100%;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .smallerT{
      padding: 10px; 
    }

    .myDirection{
      padding-top: 10%;
    }

    .gridGeneral{
      padding: 10px;
    }

    .padder{
      padding: 10px;
    }

  }
}

.gridGeneral {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 5px;
}

